/* START PAGE */
.contentWrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
  display: flex;
  min-height: calc(100vh - 50px);
  padding-top: 50px
}

/* END PAGE */
/* START TOC */
.toc {
  flex: 0 0 240px;
  height: calc(100vh);
  position: sticky;
  overflow-y: auto;
  top: 50px;
  padding: 40px 0;
}

.toc ul {
  padding: 0 8px
}

.toc ul li {
  list-style-type: none;
}

.toc a {
  border: none;
  color: #717171;
  display: block;
  font-size: 14px;
  padding: 4px 0;
  transition: color .3s
}

/* END TOC */
/* START FOOTER */
.nav-footer {
  background: #20232a;
  border: none;
  color: #202020;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 2em;
  padding-top: 2em;
  position: relative
}

/* END FOOTER */
/* START CODE EXAMPLES */
.codeBox {
  margin: auto;
  width: 100%;
  color: #fff;
  border-radius: 20px;
  padding: 2px;
  font-size: 150%;
  margin-bottom: 1em;
  max-width: 900px;
}

.codeTab {
  font-size: 20px;
}

.tab-content {
  max-width: 900px;
}

.resultBox {
  background-color: #edf4f7;
  width: 99%;
  margin: auto;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  margin-bottom: 1em;
}

/* END CODE EXAMPLES */
/* START PRETTY PRINT */
/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
  background: #2f3640;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  border: 0 !important;
}

.pln {
  color: #e6e9ed;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 0;
  color: #656d78;
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  background-color: #2f3640;
  list-style-type: decimal;
}

@media screen {

  /* string content */
  .str {
    color: #ffce54;
  }

  /* keyword */
  .kwd {
    color: #4fc1e9;
  }

  /* comment */
  .com {
    color: #90EE90;
  }

  /* type name */
  .typ {
    color: #4fc1e9;
  }

  /* literal value */
  .lit {
    color: #ac92ec;
  }

  /* punctuation */
  .pun {
    /* color: #e6e9ed; */
    color: #f2f25c;
  }

  /* lisp open bracket */
  .opn {
    color: #e6e9ed;
  }

  /* lisp close bracket */
  .clo {
    color: #e6e9ed;
  }

  /* markup tag name */
  .tag {
    color: #ed5565;
  }

  /* markup attribute name */
  .atn {
    color: #a0d468;
  }

  /* markup attribute value */
  .atv {
    color: #ffce54;
  }

  /* declaration */
  .dec {
    color: #ac92ec;
  }

  /* variable name */
  .var {
    color: #e6e9ed;
  }

  /* function name */
  .fun {
    color: #e6e9ed;
  }
}

/* END PRETTY PRINT */
/* START MEDIA  */
@media only screen and (max-width: 1200px) {
  .toc {
    display: none;
  }
}

/* END MEDIA */
/* eof */