/* line 1, ../sass/components/shared.sass */
.code, .codeR, .codeG, .codeB {
  border-radius: 3px;
  color: inherit;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 85%;
  margin: 0;
  padding: 3.2px 6.4px;
}

/* line 9, ../sass/components/shared.sass */
.textR, .textG, .textB {
  border-radius: 3px;
  color: inherit;
  margin: 0;
  padding: 3.2px 6.4px;
}

/* line 1, ../sass/components/general.sass */
body {
  background-color: #f5fcff;
}

/* line 4, ../sass/components/general.sass */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 16px;
  margin-top: 1.2em;
}

/* line 8, ../sass/components/general.sass */
h1 {
  font-size: 32px;
}

/* line 12, ../sass/components/general.sass */
h2 {
  font-size: 24px;
}

/* line 16, ../sass/components/general.sass */
h3 {
  font-size: 20px;
}

/* line 20, ../sass/components/general.sass */
h4 {
  font-size: 16px;
}

/* line 24, ../sass/components/general.sass */
h5 {
  font-size: 14px;
}

/* line 28, ../sass/components/general.sass */
h6 {
  font-size: 13.6px;
}

/* line 31, ../sass/components/general.sass */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

/* line 1, ../sass/components/navbar.sass */
.navFixed {
  background-color: #212121;
  color: #fff;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

/* line 10, ../sass/components/navbar.sass */
.navWrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

/* line 1, ../sass/components/button.sass */
.button {
  border: 1px solid #222;
  border-radius: 3px;
  color: #222;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2em;
  padding: 10px;
  text-decoration: none !important;
  -webkit-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
}

/* line 14, ../sass/components/button.sass */
.button:hover {
  background: #222;
  color: #fff;
}

/* line 19, ../sass/components/button.sass */
.right-button {
  display: inline;
  float: right;
}

/* line 1, ../sass/components/para.sass */
.paraTitle {
  text-align: center;
  font-size: 26px;
}

/* line 6, ../sass/components/para.sass */
.para {
  overflow: hidden;
  margin-bottom: 10px;
}

/* line 11, ../sass/components/para.sass */
.paraCenter {
  text-align: center;
}

/* line 15, ../sass/components/para.sass */
.paraSection {
  background-color: #edf4f7;
  width: 99%;
  margin: auto;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
}

/* line 25, ../sass/components/para.sass */
.fl {
  width: 50%;
  float: left;
}

/* line 30, ../sass/components/para.sass */
.fr {
  width: 50%;
  float: right;
}

/* line 35, ../sass/components/para.sass */
.paraImage {
  width: 90%;
  margin: auto;
}
/* line 39, ../sass/components/para.sass */
.paraImage img {
  width: 100%;
}

/* line 2, ../sass/components/text.sass */
.code {
  background-color: rgba(27, 31, 35, 0.05);
}

/* line 6, ../sass/components/text.sass */
.codeR {
  background-color: rgba(255, 0, 0, 0.1);
}

/* line 10, ../sass/components/text.sass */
.codeG {
  background-color: rgba(0, 250, 0, 0.1);
}

/* line 14, ../sass/components/text.sass */
.codeB {
  background-color: rgba(0, 0, 250, 0.1);
}

/* line 18, ../sass/components/text.sass */
.textR {
  background-color: rgba(255, 0, 0, 0.1);
}

/* line 22, ../sass/components/text.sass */
.textG {
  background-color: rgba(0, 250, 0, 0.1);
}

/* line 26, ../sass/components/text.sass */
.textB {
  background-color: rgba(0, 0, 250, 0.1);
}

/* line 31, ../sass/components/text.sass */
.prettifyHTML {
  color: #ed5565;
  background-color: #2f3640;
}

/* line 35, ../sass/components/text.sass */
.prettifyCOM {
  color: #90EE90;
  background-color: #2f3640;
}

/* line 39, ../sass/components/text.sass */
.prettifySQL {
  color: #f0ff76;
  background-color: #2f3640;
}

/* line 43, ../sass/components/text.sass */
.prettifyCSS {
  color: #90EE90;
  background-color: #2f3640;
}

/* line 47, ../sass/components/text.sass */
.prettifyJS {
  color: #4fc1e9;
  background-color: #2f3640;
}

/* line 51, ../sass/components/text.sass */
.prettifyPHP {
  color: #ac92ec;
  background-color: #2f3640;
}

/* line 55, ../sass/components/text.sass */
.prettifyResult {
  background-color: #2f3640;
  color: #e6e9ed;
}

/* line 59, ../sass/components/text.sass */
.prettifyPurple {
  background-color: #2f3640;
  color: #ac92ec;
}

/* line 63, ../sass/components/text.sass */
.face {
  color: #f0ff76;
  background-color: #2f3640;
  border-radius: 3px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 85%;
  margin: 0;
  padding: 3.2px 6.4px;
}

/*# sourceMappingURL=index.css.map */