.button
  border: 1px solid #222
  border-radius: 3px
  color: #000
  display: inline-block
  font-size: 14px
  line-height: 1.2em
  padding: 7px
  text-decoration: none !important
  transition: background .5s, color .3s

  &:hover
    background: #444
    color: #fff

.right-button
  display: inline
  float: right

.copyButton
  position: absolute
  right: 10px
  top: 10px
  padding: 2px
  color: #ccc !important
  border: 1px solid #ccc
  transition: background .3s
  font-size: 14px

  &:hover
    background: #666
    color: #fff

  &:active
    background: #333
    color: #fff
