.codeTab
  font-size: 20px

.codeBox
  margin: auto
  width: 100%
  font-size: 115%
  max-width: 900px

.tab-content
  max-width: 900px

.resultBox
  background-color: #fff
  padding-top: 15px
  padding-left: 25px
  padding-right: 25px
  padding-bottom: 15px
  border-radius: 5px
