.paraHeader
  margin-bottom: 10px
  text-align: center

.paraTitle
  text-align: center
  font-size: 26px

.para
  overflow: hidden
  margin-bottom: 10px

.paraCenter
  text-align: center
  @extend %para


.paraLeft
  text-align: left

.paraSection
  background-color: #f1f7fe
  width: 99%
  margin: auto
  padding-top: 15px
  padding-left: 25px
  padding-right: 25px
  padding-bottom: 15px

.fl
  width: 50%
  float: left

.fr
  width: 50%
  float: right

.paraImage
  width: 90%
  margin: auto

  img
    width: 100%
