// [✔️] text.sass
//     [✔️] Text Highlight
//       [✔️] .textR
//       [✔️] .textG
//       [✔️] .textB
//     [✔️] Code Highlight
//       [✔️] .code
//       [✔️] .codeR
//       [✔️] .codeG
//       [✔️] .codeB
//     [✔️] prettify Highlight
//       [✔️] .prettifyHTML
//       [✔️] .prettifyCOM
//       [✔️] .prettifySQL
//       [✔️] .prettifyCSS
//       [✔️] .prettifyJS
//       [✔️] .prettifyPHP
//       [✔️] .prettifyResult
//       [✔️] .face

.textR
  background-color: $r-background
  @extend %textHighlight

.textG
  background-color: $g-background
  @extend %textHighlight

.textB
  background-color: $b-background
  @extend %textHighlight

.code
  background-color: $code-background
  @extend %codeHighlight

.codeR
  background-color: $r-background
  @extend %codeHighlight

.codeG
  background-color: $g-background
  @extend %codeHighlight

.codeB
  background-color: $b-background
  @extend %codeHighlight

.prettifyHTML
  color: $HTML-Text
  background-color: $pretty-background

.prettifyCOM
  color: $COM-Text
  background-color: $pretty-background

.prettifySQL
  color: $SQL-Text
  background-color: $pretty-background

.prettifyCSS
  color: $CSS-Text
  background-color: $pretty-background

.prettifyJS
  color: $JS-Text
  background-color: $pretty-background

.prettifyPHP
  color: $PHP-Text
  background-color: $pretty-background

.prettifyResult
  color: $Res-Text
  background-color: $pretty-background

.face
  color: $face-Text
  background-color: $pretty-background
  border-radius: 3px
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
  font-size: 85%
  margin: 0
  padding: 3.2px 6.4px
